<%- include('header') %>

<body>
    <form action="/post" method="post">
        <input type="text" name="postText">
        <input type="text" name="postImage">
        <input type="submit" value="Poster">
    </form>
</body>
</html>