<%- include('header') %>

<% if (errMess) { %>
  <p style="color: red;"> <%= errMess %> </p>
<% } %>
<div id="registerContainer">
      <form id="register" action="/user" method="post">

        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" name="name" id="form3Example1" class="form-control" />
              <label class="form-label" for="form3Example1"> name</label>
            </div>
          </div>
          
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" name="email" id="form3Example3" class="form-control" />
            <label class="form-label" for="form3Example3">email </label>
          </div>
          
          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" name="password" id="form3Example4" class="form-control" />
            <label class="form-label" for="form3Example4">password</label>
          </div>
          
          <!-- confirmPassword input -->
          <div class="col">
            <div class="form-outline">
              <input type="password" name="confirmPassword" id="form3Example2" class="form-control" />
              <label class="form-label" for="form3Example2">confirmPassword</label>
            </div>
          </div>
        </div>
        <!-- Photoprofil input -->
        <div class="form-outline mb-4">
          <input type="file" name="image" id="form3Example4" class="form-control" />
          <label class="form-label" for="form3Example4">photoprofil</label>
        </div>
      
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
          <label class="form-check-label" for="form2Example33">
            Subscribe to our newsletter
          </label>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
      
        <!-- Register buttons
        <div class="text-center">
          <p>or sign up with:</p>
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
      
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
      
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
      
          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
    </form> -->
</div> 
