

* {
    margin: 0;
}

.comment_container {
    display: none;
}

.opened {
    display: block;
}

#navLink {
    display: flex;
    list-style: none;
    align-items: center;
}

#navLink li {
    margin-inline-start: 3rem;
    text-decoration: none;
}

#navLink li:nth-child(1) {
    margin-inline-start: 0;
}

#navLink li:nth-child(2) {
    margin-inline-start: 10rem;
}

#logoGroupo {
    width: 35vw;
}

.commentBtn {
    cursor: pointer;
}

.replyBtn {
    cursor: pointer;
}

.errMess {
    color: red;
}

.succMess {
    color: rgb(0, 199, 0);
}

.likeDislike {
    display: flex;
    margin-top: 5px;
    gap: 5px;
}

#like {
    background: none;
    border: none;
    padding: 0;
}

#like img {
    height: 30px
}

#dislike {
    background: none;
    border: none;
    padding: 0;
}

#dislike img {
    height: 30px
}
/* ////////////////////////////css login/////////////////////////////// */

#login{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loginContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ////////////////////////////////// register//////////////////////// */

#register{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
#registerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ///////////////////////////////////////// logo//////////////////////////////// */

#logo {
width: 6rem;
}