* {
    margin: 0;
}

.comment_container {
    display: none;
}

.opened {
    display: block;
}

#navLink {
    display: flex;
    list-style: none;
    align-items: center;
}

#navLink li {
    margin-inline-start: 3rem;
    text-decoration: none;
}

#navLink li:nth-child(1) {
    margin-inline-start: 0;
}

#navLink li:nth-child(2) {
    margin-inline-start: 10rem;
}

#logoGroupo {
    width: 35vw;
}

.commentBtn {
    cursor: pointer;
}

.replyBtn {
    cursor: pointer;
}

p {
    color: red;
}

/* ////////////////////////////css login/////////////////////////////// */

#login{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#loginContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ////////////////////////////////// register//////////////////////// */

#register{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
#registerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ///////////////////////////////////////// logo//////////////////////////////// */

#logo {
width: 18px;
}